.menuDiv {
    height: 100vh;
    background-color: #7D7D7D;
    color: white;
    padding: 0px;
    box-shadow: 3px 1px 15px -2px #777777;
}

.menuButtons {
    height: 80px !important;
    border-radius: 0;
}

.allTables {
    padding: 15px;
}

.addButton {
    position: absolute;
    bottom: 25px;
    right: 25px;
    border-radius: 100%;
    font-size: 45px;
    padding: 0px;
    width: 67px;
    box-shadow: 0px 3px 8px 2px #A5A4A4;
}

.breadcrump {
    font-size: 16px;
    padding-bottom: 5px;
}

.logout-button{
    position: absolute;
    bottom: 0;
    height: 52px !important;
}

div.mytree div {
    padding-left:20px;
    background:transparent url(http://www3.telus.net/jianlu58/bullet.gif) no-repeat top left;
}
div.mytree div.parent div {
    display:none;
    cursor:pointer;
}
div.mytree div.parent {
    cursor:pointer ;
    background:transparent url(http://www3.telus.net/jianlu58/plus.gif) no-repeat top left;
}
div.mytree div.expanded {
    background:transparent url(http://www3.telus.net/jianlu58/minus.gif) no-repeat top left;
}