html {
    background-color: #3B3B41;
}

body {
    background-color: #3B3B41;
}

.login-main-container {
    margin-top: 120px;
    padding: 20px;
}

.login-form {
    /* margin: 19px; */
    /*background-color: #F6F6F6;*/
    padding: 30px;
    /*border-radius: 1px;
    box-shadow: 0px 0px 16px -1px #595959;*/
}

.log {
    text-align: center;
    margin: 5px auto;
}
